
@media (orientation: portrait){
    .numeros{
    
        display: block;
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
    }
    
    .numero{
        
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        margin-top: 15px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    
    }
    
    .seleccionado{
        transform:scale(1.05);
    }
    
    .img{
        background:transparent;
        display:inline-block;
        width:20%;
        margin-top:10px;
    }
    
    .img:active
    {
        transform:scale(1.5);
    }
    
    .accesosTemas
    {
        position: absolute;
        left: 23%;
        top: 0%;
        display: flex;
        width: 13%;
        transition: 0.2s;
        opacity: 0.7;
    }
    
    .accesosTemas img
    {
        margin: 5%;
        
    }
    
    .idiomas{
        position: relative;
        top: -6%;
    }
    
    .idiomas img{
        width: 12%;
        float: right;
        margin-top: 2%;
        margin-right: 2%;
        transition: 0.2s;
        opacity: 0.5;
    }
    
    .seleccionadoIdioma{
        opacity: 1!important;
    }
    
    .volver{
    display: flex;
    //margin-top:10px;
    background:transparent;
    display:inline-block;
    width:50%;
    img{
        float: left;
    }
    }
}

















@media (max-width: 720px) and (orientation: landscape){
.numeros{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
}

.numero{
    width: 20%;
    height: 25vh;
    margin: auto;
    display:inline-block;

}

.seleccionado{
    transform:scale(1.05);
}

.img{
    background:transparent;
    display:inline-block;
    width:20%;
    margin-top:10px;
}

.img:active
{
    transform:scale(1.5);
}

.accesosTemas
{
    position: absolute;
    left: 23%;
    top: 0%;
    display: flex;
    width: 13%;
    transition: 0.2s;
    opacity: 0.7;
}

.accesosTemas img
{
    margin: 5%;
    
}

.idiomas{
   position: relative;
     top: -18%
}

.idiomas img{
    width: 12%;
    float: right;
    margin-top: 2%;
    margin-right: 2%;
    transition: 0.2s;
    opacity: 0.5;
}

.seleccionadoIdioma{
    opacity: 1!important;
}

.volver{
display: flex;
//margin-top:10px;
background:transparent;
display:inline-block;
width:50%;
img{
    float: left;
}
}



}
