<div class="contenedor">


  <div class="loginContenedor">
    
    <form class="login">
      <div class="login-title">
        <img src="../../../assets/imagenes/kid-learning.png" alt="Avatar" class="kid-learning" max-width="104">
      </div>


        <input type="email" id="#fname" class="sinError" name="firstname" placeholder="Correo Electrónico"
          [(ngModel)]="usuario.email">
        <br>
        <br>
        <br>
        <input type="password" id="#lname" class="sinError" name="lastname" placeholder="Contraseña"
          [(ngModel)]="usuario.password">

        <button class="botonLogin" (click)="OnSubmitLogin()">Iniciar sesión</button>

        <button class="botonLimpiar" (click)="Limpiar()">Limpiar</button>

        <button class="botonUsers" (click)="Cargar1()">ADM</button>
        <button class="botonUsers" (click)="Cargar2()">INV</button>
        <button class="botonUsers" (click)="Cargar3()">TES</button>
        <button class="botonUsers" (click)="Cargar4()">ANON</button>
        <button class="botonUsers" (click)="Cargar5()">USER</button>

        <div *ngIf="error" class="error">
          <span> {{error}}</span>
        </div>


    </form>
    <div class="Cargando" [hidden]="spinner">
      <img src="../../../assets/imagenes/Spinner.gif">
    </div>
  </div>

</div>